Chi2 contengency independence test

Q4. TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain % of the customer order forms. Any error in order form renders it defective and has to be reworked before processing. The manager wants to check whether the defective % varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

Assume Null Hypothesis as Ho: Independence of categorical variables (customer order forms defective % does not varies by centre) Thus, Alternative hypothesis as Ha Dependence of categorical variables (customer order forms defective % varies by centre)

Inference: As (p_value = 0.2771) > (α = 0.05); Accept Null Hypthesis i.e. Independence of categorical variables Thus, customer order forms defective % does not varies by centre.

In [77]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import statsmodels.api as sm
from PIL import ImageGrab
import matplotlib.pyplot as plt
import seaborn as sns

##### We are going to conduct a Test of Independence using Chi-Square  test with Contingency table

In [78]:
Costomer=pd.read_csv('Costomer+OrderForm.csv')  # load our dataset
Costomer

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [79]:
Costomer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

#### Checking for Null Values

In [80]:
Costomer.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

##### Checking for Duplicate Values

In [81]:
Costomer[Costomer.duplicated()].shape

(290, 4)

In [82]:
Costomer[Costomer.isnull().any(axis=1)]

Empty DataFrame
Columns: [Phillippines, Indonesia, Malta, India]
Index: []

 ##### Checking values counts in data

In [83]:
Costomer.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [84]:
Costomer.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [85]:
Costomer.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [86]:
Costomer.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [87]:
obs=np.array([[271,267,280,269],[29,33,20,31]])
obs

array([[271, 267, 280, 269],
       [ 29,  33,  20,  31]])

In [88]:
count=pd.crosstab(Costomer['Phillippines'],Costomer['Indonesia'])
count

Indonesia     Defective  Error Free
Phillippines
Defective             2          27
Error Free           31         240

In [89]:
count=pd.crosstab(Costomer['Phillippines'],Costomer['India'])
count

India         Defective  Error Free
Phillippines
Defective             2          27
Error Free           18         253

In [90]:
count=pd.crosstab(Costomer['Phillippines'],Costomer['Malta'])
count

Malta         Defective  Error Free
Phillippines
Defective             4          25
Error Free           27         244

In [91]:
Costomer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

##### Creating Contingency table

In [92]:
contingency_table = [[271,267,269,280],
                    [29,33,31,20]]
print(contingency_table)

[[271, 267, 269, 280], [29, 33, 31, 20]]

#### Calculating Expected Values for Observed data

In [93]:
stat, p, df, exp = stats.chi2_contingency(contingency_table)
print("Statistics = ",stat,"\n",'P_Value = ', p,'\n', 'degree of freedom =', df,'\n', 'Expected Values = ', exp)

Statistics =  3.858960685820355
 P_Value =  0.2771020991233135
 degree of freedom = 3
 Expected Values =  [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

##### Defining Expected values and observed values

In [94]:
observed = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

#### Compare Evidences with Hypothesis using t-statictic

In [95]:
test_statistic , p_value = stats.chisquare(observed, expected, ddof = df)
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

#### interpreting p-value

In [96]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis if defective% varies by centre ')
else:
    print('We accept Null hypothesis')

Significnace=0.050, p=0.425
We accept Null hypothesis

### Hence,We ACCEPT Null hypothesis.Therefore,defective% is not varied by centre.